.head {
    color: #272b2f;
    background-color: #dde5ed;
    padding: 20px;
}
.small_text {
    font-family: "IBM Plex Mono", "Courier New", monospace;
    font-weight: 600;
    margin-inline-start: 120px;
    margin-block: 10px;
}
.big_text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.0;
}
body {
    margin: 0;
    background-color: #b5bec8;
}
.light_color{
    color: #dde5ed;
    background-color: #272b2f;
    border-radius: 5px;
    padding: 0 5px;
}
.header {
    background-color: #272b2f;
    height: 82px;
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 330px;
    right: 20px;
    height: 92px;
    border-radius: 15px;
}
.buttons {
    display: flex;
}
.buttons button {
    background-color: #272b2f;
    border-radius: 10px;
}